*{
    font-family: 'Apple SD Gothic Neo';
    }
    
    h2{
        text-align: left;
        color: #665D5D;
        font-size: 45px;
    }

    span.pink{
        color: #FF006B;
    }
    
    h3{
        color:#665D5D;
        font-size: 30px;
    }
    
    p{
        font-weight: 700;
        color: #999999;
        font-size: 15px;
    }
    
    .square1{
        height: 27px;
        background: rgba(255, 0, 107, 0.27);
    }
    
    .info{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .catch-praise{
        margin-top: 200px;
        margin-left: 123px;
        margin-right: 251px;
    }
    
    .profile{
        flex-direction: column;
        justify-content: center;
    }
    
    .profile-img{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 326px;
        height: 435px;
    }
    
    .name{
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    .birth{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .major{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .mbti{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .social-media{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .favarite{
        margin-left: 123px;
    }

    .favorite-contents{
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        margin-left: 123px;
        /* margin-right: 123px; */
    }

    .favorite-img{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 300px;
    }
    
    .favorite-baseball{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .favorite-tennis{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .favorite-taekwondo{
        display: flex;
        flex-direction: column;
        text-align: center;
    }